.place__image {
  max-width: 460px;
  min-height: 460px;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .place__image {
    width: 100%;
    min-height: 440px;
  }
}

@media screen and (max-width: 900px) {
  .place__image {
    width: 100%;
    min-height: 340px;
  }
}

@media screen and (max-width: 750px) {
  .place__image {
    max-width: 320px;
    min-height: 320px;
  }
}
