.header__lang-switcher-link {
  font-size: 24px;
  line-height: 1.17;
  font-weight: 400;
  color: var(--main-white);
  text-decoration: none;
  cursor: pointer;
}

@media screen and (max-width: 750px) {
  .header__lang-switcher-link {
    font-size: 18px;
    line-height: 1.11;
  }
}
