.places__item {
  display: grid;
  grid-template-columns: repeat(2, minmax(320px, 1fr));
  gap: 48px 40px;
}

@media screen and (max-width: 1200px) {
  .places__item {
    gap: 48px 32px;
  }
}

@media screen and (max-width: 900px) {
  .places__item {
    gap: 48px 28px;
  }
}

@media screen and (max-width: 750px) {
  .places__item {
    display:flex;
    flex-direction: column;
    gap: 32px 0;
  }
}
